<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Andela MoreRecipe</title>
</head>

<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
        <div class="container">
            <a href="#" class="navbar-brand">moreRECIPE</a>
            <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class = "navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="catalog.html">Catalog</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>

                </ul>

            </div>

        </div>

    </nav>

    <!--HEADER SECTION-->
    <header id="page-header" class="">
        <div class="container">
            <div class="row">
                <div class="col ml-auto-ml-3 text-center">
                    <h1>About moreRecipe</h1>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                </div>

            </div>

        </div>

    </header>

    <section id="about">
        <div class="container">
            <div class="row py-4">
                <div class="col-md-6 py-5">
                    <h1>What we are about</h1>
                    <p>Quisque a felis ex. Integer eu volutpat lacus. Aliquam a maximus ante. Mauris ultricies diam augue, vitae
                        ullamcorper magna auctor sed</p>
                        <p>Quisque a felis ex. Integer eu volutpat lacus. Aliquam a maximus ante. Mauris ultricies diam augue, vitae
                        ullamcorper magna auctor sed</p>
                </div>

                <div class="col-md-6">
                    <img src="../img/bg8.jpg" alt=""class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <!--ICON BOX SECTION-->
    <section id="icon-box">
        <div class="container">
            <div class="row mb-4">
                <div class="col-md-4">
                    <div class="card card-inverse bg-danger text-center text-white">
                        <div class="card-body">
                            <i class="fa fa-clock-o"></i>
                            <h3>Lorem Ipsum</h3>
                            Vestibulum varius lectus leo, commodo ornare tellus tristique sit amet. 
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-inverse bg-danger text-center text-white">
                        <div class="card-body">
                            <i class="fa fa-comments"></i>
                            <h3>Lorem Ipsum</h3>
                            Vestibulum varius lectus leo, commodo ornare tellus tristique sit amet. 
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-inverse bg-danger text-center text-white">
                        <div class="card-body">
                            <i class="fa fa-cutlery"></i>
                            <h3>Lorem Ipsum</h3>
                            Vestibulum varius lectus leo, commodo ornare tellus tristique sit amet. 
                        </div>
                    </div>
                </div>
                </div>
                <div class="row mb-5">
                <div class="col-md-4">
                    <div class="card card-inverse bg-danger text-center text-white">
                        <div class="card-body">
                            <i class="fa fa-grav"></i>
                            <h3>Lorem Ipsum</h3>
                            Vestibulum varius lectus leo, commodo ornare tellus tristique sit amet. 
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-inverse bg-danger text-center text-white">
                        <div class="card-body">
                            <i class="fa fa-handshake-o"></i>
                            <h3>Lorem Ipsum</h3>
                            Vestibulum varius lectus leo, commodo ornare tellus tristique sit amet. 
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-inverse bg-danger text-center text-white">
                        <div class="card-body">
                            <i class="fa fa-shopping-basket"></i>
                            <h3>Lorem Ipsum</h3>
                            Vestibulum varius lectus leo, commodo ornare tellus tristique sit amet. 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>


    <!--FOOTER SECTION-->
    <footer id="main-footer" class="text-center p-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>Copyright 2017 &copy; moreRecipe. All Rights Reserved.</p>

                </div>

            </div>

        </div>

    </footer>


    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>