<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Andela MoreRecipe</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a href="#" class="navbar-brand">moreRECIPE</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class = "navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="catalog.html">Catalog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                    <li class="nav-item p-1">
                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#loginModal">Log In</button>
                    </li>
                    <li class="nav-item p-1">
                        <a class="btn btn-danger btn-sm" href="#">Add Recipe</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--LOGIN MODAL-->
    <div class = "modal" id="loginModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">User Login</h5>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" placeholder="Username" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" placeholder="Password" class="form-control">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary">Login</button>
                </div>
            </div>
        </div>
    </div>

        <!--HEADER SECTION-->
    <header id="page-header" class="">
        <div class="container">
            <div class="row">
                <div class="col ml-auto-ml-3 text-center">
                    <h1>Contact moreRecipe</h1>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                </div>

            </div>

        </div>

    </header>

    <!--CONTACT-->
    <section id="contact" class"">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 py-4 pr-5">
                <h3>Get In Touch</h3>
                <p class="lead">Vestibulum varius lectus leo, commodo ornare tellus tristique sit amet. Sed gravida nisl turpis, vel suscipit lorem </p>
                <form>
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control" placeholder="Name">
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input type="text" class="form-control" placeholder="Email">
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                            <textarea class="form-control" placeholder="Message" rows="5" cols=""></textarea>
                        </div>
                    </div>
                    <input type="submit" name="" value="Submit" class="btn btn-primary btn-block btn-lg">
                </form>
                    
                </div>
                <div class="col-lg-3 align-self-center">
                    <img src="img/Logo2.png" alt="" class="img-fluid hidden-mg-down" >
                    
                </div>
                
            </div>
            
        </div>
        
    </section>

    

    <!--FOOTER SECTION-->
    <footer id="main-footer" class="text-center p-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>Copyright 2017 &copy; moreRecipe. All Rights Reserved.</p>
                    
                </div>
                
            </div>
            
        </div>
        
    </footer>


    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>